.button {
	display: block;
	margin: 0 auto;
	padding: 8px 20px;

	border-radius: 10px;
	color: #f8fafc;
	border: none;
	background-color: blue;
	margin-top: 10px;

}
.task{
    margin-top: 10px;
    margin-bottom: 10px;
}