.title {
	font-size: 25px;
	margin-bottom: 15px;
} 

.container {
	font-size: 14px;

	display: flex;
	flex-direction: column;
	gap: 15px;

	margin-bottom: 30px;
} 

.item, .addStudentLabel {
	display: flex;
	align-items: center;
	column-gap: 30px;
} 

.item-title {
    font-size: 18px;
} 

.item-input {
    max-height: 30px;
} 

.addStudent {
	margin-top: 50px;

	display: flex;
	flex-direction: column;
} 

.addStudentButton {
	padding: 8px 10px;
	max-width: 100px;
	font-size: 14px;
} 

label {
	margin-bottom: 5px;
} 

.edit{
	width: 25px;
	height: 25px;
} 
.nameStudent{
	text-decoration: none;
	color: black;
	transition: none;
}
.nameStudent:hover {
    background-color: none;
  }

